.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
    background-color: white;
    color: #222;
    width: 300px;
    min-height: 500px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
    margin-left: 10px;
}

.card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    min-height: 320px;
    border-radius: 6px 6px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card-image:hover {
    transform: scale(1.05);
}

.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}

.category:hover {
    cursor: pointer;
}

.info {
    border: none;
    padding: 1.5rem;
    text-align: center;
}

.info p {
    color: #222;
}

.footer {
    padding: 0.75rem;
    border: 1px solid rgb(236 239 241);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 140, 255, 0.082);
}

.action {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(33,150,243,.4),0 2px 4px -2px rgba(33,150,243,.4);
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
}

.img-card {
    width: 80%;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .card-image {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
    
    .card-image {
        height: 150px;
    }
    
    .info {
        padding: 1rem;
    }
}
